<!-- new.ejs -->

<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>This is new message</h1>
    <nav>
        <%- include('navbar', {}) %>
    </nav>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  </form>
    <form action="/search" method="GET">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    <button type="submit">Submit</button>
  </form>
  <form action="/create" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>
    <label for="age">Age: </label>
    <input type="number" name="age" id="age" min="18" max="120">
    <button type="submit">Submit</button>

  <a href="/">Back to home</a>
  </body>
</html>